views/persona.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="personas">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="direccion" type="xs:string" />
            <xs:element name="tel" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>